#test{
    color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:darkgray;
    border-radius: 12px;
}

#paragraph1{
    background-color: #E27D60;
    color: #2F2FA2;
    font-size: 25px;
}

#paragraph2{
    background-color: #E8A87C;
    color: rgb(124, 25, 25);
    font-size: 22px;
}

#paragraph3{
    background-color: #C38D9E;
    color: #242582;
    font-size: 18px;
}

#paragraph4{
    background-color: #41B3A3;
    color: #123C69;
    font-size: 15px;
}

#paragraph5{
    background-color: #66FCF1;
    color: #AC3B61;
    font-size: 12px;
}

#span1{
    background-color: #FBEEC1;
    color:blue;
}

#span2{
    background-color: #EDF5E1;
    color: #F13C20;;
}

#spanPar1{
    background-color: #DAAD86;
    color: #282828;
}

.parag{
    padding: 15px;
}

.span{
    word-spacing: 5px;
    letter-spacing: 3px;
}

